{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_styles  %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global/css/FriendlyChecks.css' %}">
{% endblock %}

{% block global_scripts  %}
    <script src="{% static 'global/js/global.js' %}"></script> 
    <script src="{% static 'global/js/FriendlyChecks.js' %}"></script> 
{% endblock %}

{% block content %}
    <div class='page-content' id='page-content'> 
        {% block PageContent %}
        {% endblock %}
    </div>
{% endblock %}